:root {
    --color-background: #222222;
    --color-background-shadow: #4a4a4a;
    --color-dark: #1F232A;
    --color-text: #efefef;
    --color-bar: #1a1a1a;
	--color-other: #333333;
    --color-textdark: #777474;
    --color-button: #404040;
    --color-icon: #E1E1E1;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark) var(--color-background-shadow);
    color: var(--color-text) !important;
}

.MGqjK, .SmeuHe, .I6TXqe, .KPV9xf, .HErFVb, .lgJJud, .sfbg, #hdtb, .yg51vc, .action-menu-panel, .kp-blk, .cbjjnc, .sh-dlr__list-result, .Lj9fsd, .jZWadf, .MXl0lf, .sbsb_d {
	background: var(--color-bar) !important;
}
.WpKAof:hover, .YbqTTb, .gb_xb:hover, .dw-sb-cont .dw-sb-btn, .dw-sb-cont .dw-sbi, .mQo3nc, .GshZze:not(.hdtb-tl-sel):hover, .sbibod, input, .e7RZX, .tw-bilingual-marked, .R9zNe, .uWmgv, .cF4V5c, .sbsb_a {
	background-color: var(--color-background-shadow) !important;
}
.Y92sLc, .pla-ikpd__modal-content-container, .ZbgEX, .Qnaule, .k8XOCe, .rl_item_base, g-inner-card, #center_col g-card, .YEMaTe, .gb_vb.gb_vb, .gb_zb.gb_zb, .gb_Hb.gb_Hb, .haApub, .T6b9se, ._-ks, .FAl3Ic, .tfB0Bf input[type="submit"], .gbqfba, .BlOseb.eSq3C g-fab, .k2Oeod.eSq3C g-fab, .G9CET, .F9PbJd, .YcWSDf, .vk_c, #tw-target {
	background-color: var(--color-bar) !important;
}
.pla-ikpd__modal, .cUezCb, .s8GCU, .Xeztj, .etUWZd, .YSlUOe, .GHDvEf, .GHDvEf:hover, .GHDvEf.selected, .GHDvEf.selected:hover, .dkw61e, .N3nEGc {
	background-color: var(--color-background) !important;
}
.Z8r5Gb, body, .f6F9Be, .appbar, .sh-dr__prs, .uch-xa-tl, .yvg0ob span {
	background: var(--color-background) !important;
}
.dw-sb-cont, .RNNXgb, .aajZCb, .lst-c .sbib_a, .zthhpf, .fw-ch-sel .KWk7r.qUjgX, .knowledge-finance-wholepage-chart__hover-card {
	background: var(--color-background-shadow) !important;
}

.Gor6zc, .vFd7Ub {/* fundo das fotos */
	background-color: white !important;
}

div#hplogo a img.fJOQGe, .xtSCL, .FqnKTc, .AVSjFc, .fbar.b2hzT, .UFSupb, .fbar .b2hzT, .gb_yg.gb_Ta .gb_ae {
	display: none;
}
div#hplogo a img {
	border-radius: 10px;
	padding-top: inherit !important;
}
._-lh {
    border-top: inherit !important;
}
.minidiv .gsfi {
    height: 10px !important;
    margin-top: -5px !important;
}
.gb_3e.gb_Fg.gb_i + div, .gb_3e.gb_Fg.gb_i + div > div {
	background: var(--color-bar) !important;
}
.RNNXgb, .sbibod, .zthhpf, .DFDLnc {
	border: none !important;
}
#gbwa > div > .gb_sc {
    width: 25px !important;
    height: 25px !important;
    background-image: url('https://github.com/alexander-codec/Firefox-Extension-Google-Search/raw/main/button_products.png') !important;
    background-size: 25px 25px !important;
    margin-top: 2px !important;
    background-position: initial !important;
}
.gb_4 {
    font-family: 'Google Sans',arial,sans-serif;
    letter-spacing: .25px;
    background: #1a73e8;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    min-width: 4em;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 0;
    cursor: pointer !important;
}
.gb_4:hover {
    background:#287ae6;
    box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45),0 1px 3px 1px rgba(66,133,244,0.3);
}
.R9zNe, .uWmgv, .Hg3mWc, .Hg3mWc:focus {
	color: var(--color-text) !important;
}
.Xb2ZRe {
    border-top: 1px solid #3a3a3a !important;
}
.sh-dtt__sort-by {
    border: none !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
}